@font-face {
    font-family: josefinsans;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: merienda;
    src: url(./fonts/Merienda-VariableFont_wght.ttf);
}
:root{
    --color-text:rgb(23, 22, 26);
    --color-orange: #ff2400;
    --color-body: rgb(245, 250, 255);
    --color-white: #fff;
}

html {
  scroll-behavior: smooth;
  
}

*{
    font-family: josefinsans;
    padding: 0;
    margin: 0;
    color: var(--color-text);

    
}
body{
    background: var(--color-body);
    overflow-x: hidden;
}
 #light-btn, #dark-btn{
  outline: 0;
  border: 0;
}
.contanier{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: none;
}
#loader{
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
 display: flex;
 justify-content: center;
 align-items: center;
}
.header-website {

}
.navbar {
    display: grid;
    grid-template-columns: auto 4fr auto;
    align-items: center;
    grid-gap: 20px;
    
}
.logo-website{

}
.logo-website img{
    width: 50px;
}
.menu-nav{

}
#menu-mobile{
  cursor: pointer;
}
.open-menu-btn{
  display: none;
}
.close-menu-btn{
  display: none;
}
.list-menu{
    align-items: center;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    width: 99%;
}
menu li {
    list-style: none;
    display: inline-block;
    font-size: larger;
}
menu li:nth-child(5){
  background: #e9e9ed;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
menu li a {
    text-decoration: none;

}
.dark-light-mode{
    
    display: flex;
    justify-content: center;
}
.dark-light-mode button{
    border: 0;
    cursor: pointer;
}
#light-btn{
  cursor: pointer;
    border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
}
#dark-btn{
  cursor: pointer;
    border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    -ms-border-radius: 0 30px 30px 0;
    -o-border-radius: 0 30px 30px 0;
}
#dark-btn img{
   /* visibility: hidden; */

   opacity: .4;
  
}
button:hover{
  background-color: #e9e9ed;;
}
.shop {
    display: flex;
    gap: 10px;
    
    justify-content: flex-end;
    align-items: center;
}
.shop .sign-up {
    padding: .9rem 2rem;
    border: 0;
    border-radius: 40px;
    background: var(--color-orange);
    color: var(--color-white);
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}


/* style is section .slide */
.silde{
    display: flex;
    margin-top: 7%;
    align-items: center;
}
.information-food{
    flex:1;
}
.image-food{
    flex: 1;
}
.information-food h1{
    font-family: merienda;
    font-size: 4rem;
    line-height: 4.1rem;
}

.image-food img{
    width: 100%;
}
.button-information{
    display: flex;
    margin-top: 10%;
  
}

.view-menu{
  text-decoration: none;
  background: var(--color-orange);
  padding: 1rem 3rem;
  border-radius: 50px;
  color: var(--color-white);
  font-weight: bolder;
  margin-right: 2%;
  box-shadow: 0 0 10px rgb(202, 202, 202);
}
.book-table{
    text-decoration: none;
    background: var(--color-white);
    padding: 1rem 3rem;
    border-radius: 50px;
    color: var(--color-text);
    box-shadow: 0 0 10px rgb(248, 245, 241);
}
.reviews{
    margin-top: 5%;
}
.text-reviews{
    margin: 2% 0;
}
.image-users{
    margin: 5% 0;
}
.image-users img{
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: -20px;
    border: 3px solid #fff;
}
.rating-reviews{

}
.rating-reviews img{
    width: 20px;
    margin-right: -8px;
}

/* food cards */

.food-cards{
    margin-bottom: 5%;
}
.food-cards h3{
    margin: 5% 0;
    text-align: center;
    font-family: merienda;
    font-size: xx-large;
}
.image-food-card{
    position: relative;
    z-index: 2;
}
.food-party{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    margin-bottom: 3%;
    justify-content: space-around;
    z-index: -1;

}
.icon-buy{
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    padding: 4px;
    border-radius: 8px 8px 20px 8px;
    border: 1px solid #fff;
    cursor: pointer;

}
.image-product{ 
    width: 150px;
}
.detealis-food-card{
    background-image:linear-gradient(to right bottom, #f2f2f2, #f0eeef, #fff, #ececec, #f3f1f2);
    padding: 30% 10% 10% 10%;
    font-size: 12px;
    margin-top: -30%;
    border-radius: 50px 50px 30px 30px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    box-shadow: 0 0 10px #bdbdbd;
    line-height: 20px;
    width: 125px;
    height: 100px;
    
}

/* menu foods */

#main-website{
  display: flex;
  flex-direction: column;
  
  margin: 0 0 10% 10%;
}

.container-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.text-food-list{
  text-align: center;
  font-size: xx-large;
  padding:5% 0;
  margin-bottom: 2%;
}
.food-list-menu-1{
  width: 800px;
  height: 300px;
  border: 3px solid #000;
  border-radius: 3px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.food-list-menu-1 img{
 position: absolute;
 border-radius: 100%;
 width: 300px;
 bottom: 70px;
 left:-150px;
 border:40px solid var(--color-body);
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
}
.title-menu-1{
  position: absolute;
  top:-20px;
  left: 200px;
  width: 330px;
  text-align: center;
  background-color: var(--color-body);
  font-family: merienda;
  font-size: xx-large;
  font-weight: bold;
 
}
.food-item-1{
  padding: 5% 0 0 25%;
  display: flex;
  flex-direction: column;
  
  line-height:2.2rem;
}
.food-item-1 p{
  display: flex;
  justify-content: center;
  gap: 20%;
  
}
.food-item-1 p span{
  width: 200px;
  
}

.food-list-menu-2{
  
  width: 800px;
  height: 300px;
  margin: 10% 10% 10% 20%;
  border: 3px solid #000;
  border-radius: 3px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.food-list-menu-2 img{
 position: absolute;
 border-radius: 100%;
 width: 300px;
 bottom: 40px;
 right:-100px;
 border:40px solid var(--color-body);
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
}
.title-menu-2{
  position: absolute;
  top:-20px;
  right: 235px;
  width: 400px;
  text-align: center;
  background-color: var(--color-body);
  font-family: merienda;
  font-size: xx-large;
  font-weight: bold;
 
}
.food-item-2{
  padding: 6% 10% 0 8%;
  line-height:2.2rem;
}
.food-item-2 p{
  display: flex;
  justify-content: flex-start;
  gap: 20%;
}
.food-item-2 p span{
  width: 200px;
  
}
/* footer */

#footer-website{
  display: grid;
  padding: 3%;
  align-items: center;
  gap: 5%;
  background: #faebd7;
  border-radius: 15px;
  box-shadow: 0 0 10px #cac5c5;
  margin-bottom: 5%;
  grid-template-columns: 20% 30% 20% 20%;
}

.logo-footer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-footer h2{
  text-transform: uppercase;
}
.logo-footer img{
  width: 150px;
}
.my-restaurant p{
  line-height: 2;
}
.social-media{
  display: flex;
  flex-wrap: wrap;
  align-self: normal;
  align-items: center;
}
.social-media a{
  text-decoration: none;
}

.social-media svg{
  fill: var(--color-orange);
  width: 72px;
}
.social-media svg:hover{
  fill:#6b6b6b;
 
}
.link-footer{
  line-height: 2.2rem;
}
.link-footer a{
 text-decoration: none;
}
.link-footer li::before{
  content: "\262F";
}
.link-footer li{
  max-width: 100%;
  width: 70%;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}
.link-footer li:hover{
  margin: 1% 0;
  cursor: pointer;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 2%;
  box-shadow: 0 0 8px #d20505;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.link-footer a:hover{
  color: var(--color-white);
}
/* resposive home page all device */

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1200px) {
    /* body {background: pink;} */
    /* navbar */
    .navbar {
        padding: 0 3%;
      }
    
      .light{
        width: 42px;

      }
      .dark{
        width: 42px;
      }
      .dark-light-mode button img{
        height: 41px;
        vertical-align: bottom;
      }
    
      .shop .sign-up {
        padding: .7rem 1.7rem;
       
      }
      /* silde & text header */
      .silde {
      
        padding: 0 5%;
      }
      /* menu resturant */
      .food-list-menu-1 img {
        width: 250px;
        bottom: 70px;
        left: -100px;
       
      }
    
    .food-list-menu-2 {
      margin: 15% 0;

    }
      .food-list-menu-2 img {
        width: 250px;
        bottom: 70px;
        right: -80px;
    
    
      }


  }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (max-width: 992px) {
        /* body {background: orange;} */

        .list-menu {
            flex: 2;
            font-size: 14px;
           
            gap: 5%;
          }
          .light{
            width: 40px;
    
          }
          .dark{
            width: 40px;
          }
        .dark-light-mode button img{
            height: 40px;
            vertical-align: bottom;
          }
    
          .shop .sign-up {
            padding: .6rem 1rem;
          }
        /* silde & text header */
        .information-food h1 {
            
            font-size: 3rem;
            
          }
          .button-information {
            display: flex;
            margin-top: 5%;
          }
          .view-menu , .book-table{
        
            padding: .7rem 1.7rem;
           
          }
         
          .text-reviews {

            font-size: 16px;
          }
          .image-users img {
            width: 40px;
            border: 2px solid #fff;
          }
          .rating-reviews img {
            width: 18px;
            
          }
        /* menu resturant */
       
        .food-list-menu-1 {
          width: 600px;
          height: 270px;
          
        
        }
        .food-list-menu-1 img {
          width: 200px;
          bottom: 150px;
          
        }

        .title-menu-1 {
          top: -20px;
          left: 150px;
          width: 290px;
          font-size: x-large;
        }
        .food-item-1 {
          padding: 5% 0 0 40%;
         
        }

        .food-list-menu-2 {
          width: 600px;
          height: 270px;
          margin: 23% 0;
        
        }
        .food-list-menu-2 img {
          width: 200px;
          bottom: 150px;
          
        }

        .title-menu-2 {
          top: -15px;
          left: 125px;
          width: 290px;
          font-size: x-large;
        }
        .food-item-2 {
          padding: 5%;
         
        }

        #footer-website {
          display: grid;
          padding: 3%;
          align-items: center;
          gap: 5%;
          background: antiquewhite;
          border-radius: 15px;
          box-shadow: 0 0 10px #cac5c5;
          margin-bottom: 5%;
          grid-template-columns: 20% 30% 20% 20%;
        }
      } 
      
    /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    /* body {background: rgb(126, 126, 250);} */

    .logo-website {
        flex: initial;
        margin-right: 2%;
      }
      .list-menu {
       
        font-size: 13px;
        gap: 5%;
      }
      .light{
        width: 36px;

      }
      .dark{
        width: 36px;
      }
      .dark-light-mode{
       
        flex: initial;
      }
      .shop .sign-up {
        padding: .5rem .5rem;
      }
  /* silde & text header */
        .information-food h1 {
            
            font-size: 2.5rem;
            
          }
          .button-information {
            display: flex;
            margin-top: 5%;
          }
          .view-menu , .book-table{
        
            padding: .4rem .7rem;
           
          }
         
          .text-reviews {

            font-size: 14px;
          }
          .image-users img {
            width: 30px;
            border: 2px solid #fff;
          }
          .rating-reviews img {
            width: 14px;
            
          }
          /* menu resturant */
       
        .food-list-menu-1 {
          width: 500px;
          height: 270px;
          
        
        }
        .food-list-menu-1 img {
          width: 150px;
          bottom: 150px;
          border: 30px solid var(--color-body);
          
        }

        .title-menu-1 {
          top: -10px;
          left: 100px;
          width: 210px;
          font-size: large;
        }
        .food-item-1 {
          padding: 5% 0 0 40%;
         
        }

        .food-list-menu-2 {
          width: 500px;
          height: 270px;
        
        }
        .food-list-menu-2 img {
          width: 150px;
          bottom: 150px;
          border: 30px solid var(--color-body);
          
        }

        .title-menu-2 {
          top: -15px;
          left: 165px;
          width: 210px;
          font-size: large;
        }
        .food-item-2 {
          padding: 5%;
         
        }
/* footer */

.logo-footer {
  grid-area: logo-site;
}
.my-restaurant {
  grid-area: text-footer;
}
.social-media {
  grid-area: social-footer;
}
.links-site {
  grid-area: links-footer;
}
#footer-website{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "logo-site logo-site . text-footer text-footer"
    "social-footer social-footer . links-footer links-footer"
}
.social-media svg {
  width: 40px;
}
  } 


  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    /* body {background: green;} */
    .contanier{
      padding-top: 0;
    }
    .navbar{
      display: flex;
      justify-content: space-between;
      
      line-height:3rem;
      background: #283634;
      height: 70px;
      position: fixed;
      width: 100%;
      top: 0;
    
      
    }
/* responsive mobile show menu */
.menu-nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  

}
.open-menu-btn,.close-menu-btn {
  display: block;
  cursor: pointer;
  margin: 12px;
}
.links-container{
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 100%;
  width: 200px;
  height:100vh;
  background-color: var(--color-orange);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-out;
  -webkit-transition: 0.75s ease-out;
  -moz-transition: 0.75s ease-out;
  -ms-transition: 0.75s ease-out;
  -o-transition: 0.75s ease-out;
}
#menu-mobile:checked ~ .links-container{
  left: 0;

}

.list-menu{
 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




/* end */
    .logo-website {
        top: 0;

        position: fixed;
        margin-right: 2%;
      }
    
      .dark-light-mode-mobile{
        display: flex;
        justify-content: start;
        background: #e9e9ed;
        border-radius: 50px;
       
      }
      .shop {
        display: none;
      }

      /* slide $ text header */
      .silde{
        flex-direction: column;
        margin-top: 15%;
  }
    
    .information-food{
        display: flex;
        justify-content: space-between;
        width: 100%;
  }
  .information-food h1 {
    flex: 1;
    font-size: 2.3rem;
    
  }
   
    .reviews{
        display: none;
    }
    .view-menu, .book-table {
        padding: .5rem 1rem;
        margin: 5%;
        text-align: center;
      }

      .button-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

      }

      /* menu resturant */
      /* #main-website{
        z-index: -2;
      } */
      
      .container-menu {
        z-index: -3;
      }
      .food-list-menu-1 {
        width: 400px;
        height: auto;
        
      
      }
      .food-list-menu-1 img {
        width: 150px;
        bottom: 130px;
        
      }

      .title-menu-1 {
        top: -10px;
        left: 107px;
        width: 200px;
        font-size: 1.3rem;
      }
      .food-item-1 {
        padding: 5% 0 0 30%;
       
      }
      .food-item-1 p {
        
        gap: 3%;
      }
      .food-list-menu-2 {
        width: 400px;
        height: auto;
        margin: 23% 0;
      
      }
      .food-list-menu-2 img {
        width: 150px;
        bottom: 130px;
        
      }

      .title-menu-2 {
        top: -10px;
        left: 40px;
        width: 240px;
        font-size: 1.2rem;
      }
      
      .food-item-2 p {
        gap: 3%;
      }
      /* footer */

    
      #footer-website{
        display: grid;
        grid-template-columns: 100% 100% 100% 100%;
        grid-template-rows: auto;
        grid-template-columns: 10px;
        grid-template-areas: 
          "logo-site logo-site "
          "text-footer text-footer"
          "social-footer social-footer"
          "links-footer links-footer"
      }
      .social-media svg {
        width: 40px;
      }
      .link-footer {
        height: 70vh;
      }
  
    }
 
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 486px) {
    /* body {background: rgb(162, 210, 78);} */
    
    .line-menu{
        width: 43px;
        border-bottom: 3px solid #000;
        margin: 10px 0;
       
}
      /* slide $ text header */
      .silde{
        flex-direction: column-reverse;
    }
    .information-food{
        display: flex;
       
        width: 100%;
        flex-direction: column;
  }
  .information-food h1 {
    flex: 1;
    font-size: 2.3rem;
    text-align: center;
  }
   
    .reviews{
        display: none;
    }
    .view-menu, .book-table {
        padding: .5rem 1rem;
        margin: 5%;
        text-align: center;
      }

      .button-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

      }

      /* menu resturant */
       
      .text-food-list {
        text-align: center;
        font-size: xx-large;
        padding: 5% 0;
        margin: 30% 0;
      }
      .food-list-menu-1 {
        width: 90%;
        height: auto;
      }
      .food-list-menu-1 img {
        width: 20%;
        top: -30px;
        border: 10px solid var(--color-body);
        left: 0;
      }
      .title-menu-1 {
        top: -8px;
        left: 25%;
        width: 150px;
        font-size: .9rem;
      }
      .food-item-1 p {
        
        font-size: .7rem;
      }
      .food-list-menu-2 {
        width: 90%;
        height: auto;
        margin: 20% 0;
      }
      .food-list-menu-2 img {
        width: 20%;
        right: 0;
        top: -33px;
        border: 10px solid var(--color-body);
      }
     
      .title-menu-2 {
        top: -10px;
        left: 23%;
        width: 150px;
        font-size: .8rem;
      }
      .food-item-2 p {
        font-size: .7rem;
      }
  }
  
 


